## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-09-11 22:21:08,-46.1927,168.8643,48.47,62,100,1.97,light rain
1,1,Puerto Ayora,EC,2022-09-11 22:19:09,-0.7393,-90.3518,75.16,86,75,5.01,broken clouds
2,2,Kindu,CD,2022-09-11 22:21:09,-2.9500,25.9500,69.75,98,91,1.30,moderate rain
3,3,Saint-Philippe,RE,2022-09-11 22:21:10,-21.3585,55.7679,67.59,80,37,8.63,scattered clouds
4,4,Clyde River,CA,2022-09-11 22:21:10,70.4692,-68.5914,39.43,100,100,5.75,overcast clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What's the coldest temp you'd like for your trip? "))
max_temp = float(input("What is the hottest temp you'd like for your trip? "))

What's the coldest temp you'd like for your trip? 0
What is the hottest temp you'd like for your trip? 85

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-09-11 22:21:08,-46.1927,168.8643,48.47,62,100,1.97,light rain
1,1,Puerto Ayora,EC,2022-09-11 22:19:09,-0.7393,-90.3518,75.16,86,75,5.01,broken clouds
2,2,Kindu,CD,2022-09-11 22:21:09,-2.9500,25.9500,69.75,98,91,1.30,moderate rain
3,3,Saint-Philippe,RE,2022-09-11 22:21:10,-21.3585,55.7679,67.59,80,37,8.63,scattered clouds
4,4,Clyde River,CA,2022-09-11 22:21:10,70.4692,-68.5914,39.43,100,100,5.75,overcast clouds
5,5,Kahta,TR,2022-09-11 22:21:10,37.7855,38.6237,79.97,18,0,1.52,clear sky
6,6,Rakitnoye,RU,2022-09-11 22:21:11,50.8389,35.8515,55.36,39,100,13.18,overcast clouds
7,7,Mahebourg,MU,2022-09-11 22:21:11,-20.4081,57.7000,70.09,78,75,3.44,broken clouds
8,8,Los Llanos De Aridane,ES,2022-09-11 22:21:12,28.6585,-17.9182,71.35,93,0,3.44,clear sky
10,10,Saskylakh,RU,2022-09-11 22:19:07,71.9167,114.0833,30.04,85,93,6.02,overcast clouds

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-09-11 22:21:08,-46.1927,168.8643,48.47,62,100,1.97,light rain
1,1,Puerto Ayora,EC,2022-09-11 22:19:09,-0.7393,-90.3518,75.16,86,75,5.01,broken clouds
2,2,Kindu,CD,2022-09-11 22:21:09,-2.9500,25.9500,69.75,98,91,1.30,moderate rain
3,3,Saint-Philippe,RE,2022-09-11 22:21:10,-21.3585,55.7679,67.59,80,37,8.63,scattered clouds
4,4,Clyde River,CA,2022-09-11 22:21:10,70.4692,-68.5914,39.43,100,100,5.75,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
684,684,Awbari,LY,2022-09-11 22:25:34,26.5921,12.7805,82.45,21,0,6.98,clear sky
685,685,Kudahuvadhoo,MV,2022-09-11 22:25:34,2.6708,72.8944,82.02,75,79,13.85,broken clouds
686,686,Sudbury,CA,2022-09-11 22:25:34,46.4900,-80.9900,72.57,75,100,5.01,overcast clouds
687,687,Tundla,IN,2022-09-11 22:25:35,27.2000,78.2833,82.92,69,56,7.49,broken clouds
689,689,Hay River,CA,2022-09-11 22:25:35,60.8156,-115.7999,58.98,47,75,11.50,broken clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,48.47,light rain,-46.1927,168.8643,
1,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
2,Kindu,CD,69.75,moderate rain,-2.9500,25.9500,
3,Saint-Philippe,RE,67.59,scattered clouds,-21.3585,55.7679,
4,Clyde River,CA,39.43,overcast clouds,70.4692,-68.5914,
5,Kahta,TR,79.97,clear sky,37.7855,38.6237,
6,Rakitnoye,RU,55.36,overcast clouds,50.8389,35.8515,
7,Mahebourg,MU,70.09,broken clouds,-20.4081,57.7000,
8,Los Llanos De Aridane,ES,71.35,clear sky,28.6585,-17.9182,
10,Saskylakh,RU,30.04,overcast clouds,71.9167,114.0833,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mataura,NZ,48.47,light rain,-46.1927,168.8643,Ellie's Villa
1,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Kindu,CD,69.75,moderate rain,-2.9500,25.9500,Résidence Okanda
3,Saint-Philippe,RE,67.59,scattered clouds,-21.3585,55.7679,Le four à pain
4,Clyde River,CA,39.43,overcast clouds,70.4692,-68.5914,Qamaq Hotel

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))